*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin:0 auto;
}
body{
    background: linear-gradient(245.71deg, #1E0C00 4.96%, #1F0700 33.7%, #170A00 68.41%, #1E0D00 96.42%);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 100px;
    list-style: none;
}
nav ul li a{
    color: #A3A3A3;
    text-decoration: none;
}
nav ul li a:hover{
    color : #FF6432;
    font-weight: 600;
    
}
.btn{
    width: 163px;
    height: 40px;
    background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
    border: none;
    border-radius: 30px;
    color: white;
}
.btn1{
    width: 40px;
    height: 40px;
    background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
    border-radius: 100px;
    color: white;
    border: none;
    margin-left: 20px;
}
.hero1 h1{
    color: white;
    font-size: 50px;
}
.hero1 p{
    color: #A3A3A3;
font-weight: 400;
font-size: 19.56px;
line-height: 151%;
letter-spacing: 0%;
padding-top: 30px;
}
.ota{
    display: flex;
    align-items: center;
    gap: 150px;
}
.btn2{
    width: 180px;
    height: 45px;
    color: #FF5D29;
    background: none;
    border: 2px solid #FF5D29;
    border-radius: 30px;
}
.btn3{
    width: 180px;
    height: 45px;
    color: #FF5D29;
    background: none;
    border: 2px solid #FF5D29;
    border-radius: 30px;
    margin-left: -70px;
    
}
.btn2:hover{
    background: linear-gradient(261.48deg, #FE9C1C -17.13%, #FF5E2A 86.76%);
    color: white;
}
.btn3:hover{
    background: linear-gradient(261.48deg, #FE9C1C -17.13%, #FF5E2A 86.76%);
    color: white;
}
.ota-img{
    position: relative;
}
.tepa-pitsa{
    position: absolute;
    top: -100px;
    left: 340px;
    
}
.pastki-fri{
    position: absolute;
    top: 500px;
    left: -100px;
}

.hero2{
    text-align: center;
    color: white;
    margin-top: 100px;
    font-size: 30px;
}
.btn4{
    width: 200px;
    height: 46px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}
.btn5{
    width: 200px;
    height: 46px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}
.btn6{
    width: 200px;
    height: 46px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}
.btn7{
    width: 200px;
    height: 46px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}
.btn8{
    width: 200px;
    height: 46px;
    background: none;
    border: none;
    color: white;
    
    font-size: 20px;
}
.hero-btn1{
    padding-top: 50px;
    
}

.btn4:hover{
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    box-shadow: 0px 9px 40px 0px #FF6B000F;
    width: 200px;
    height: 46px;
    border-radius: 30px;
}
.btn5:hover{
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    box-shadow: 0px 9px 40px 0px #FF6B000F;
    width: 200px;
    height: 46px;
    border-radius: 30px;
    
}
.btn6:hover{
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    box-shadow: 0px 9px 40px 0px #FF6B000F;
    width: 200px;
    height: 46px;
    border-radius: 30px;
}
.btn7:hover{
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    box-shadow: 0px 9px 40px 0px #FF6B000F;
    width: 200px;
    height: 46px;
    border-radius: 30px;
}
.btn8:hover{
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    box-shadow: 0px 9px 40px 0px #FF6B000F;
    width: 200px;
    height: 46px;
    border-radius: 30px;
}
.card{
    width: 297px;
    height: 470px;
    background-color: #331002;
    border-radius: 20px;
    margin-top: 150px;
}
.card img{
    margin-top: -90px;
}
.hero-2{
    text-align: center;
}
.h-3{
    color: white;  
}
.card .p1{
    color: #A3A3A3;
    margin-left: 30px;
    padding-top: 20px;
}
.btn-5{
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid #A3A3A3;
    border-radius: 30px;
    color: #A3A3A3;
}
.btn-6{
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid #A3A3A3;
    border-radius: 30px;
    color: #A3A3A3;
}
.btn-7{
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid #A3A3A3;
    border-radius: 30px;
    color: #A3A3A3;
}

.hero-btn2{
    text-align: center;
    padding-top: 20px;
}

.btn-5:hover{
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    color: white;
    border: none;
}
.btn-6:hover{
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    color: white;
    border: none;
}
.btn-7:hover{
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    color: white;
    border: none;
}
.btn-8{
    width: 250px;
    height: 48px;
    background:none ;
    color: #FF5924;
    border: 2px solid #FF5924;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 20px;
}
.btn-8:hover{
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    color: white;
}

.h-4{
    color: white;
    font-size: 27px;
    padding-left: 20px;
}
.text{
    display: flex;
    align-items: center;
    gap: 50px;
}
.ota-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}
.ota-btn p{
    color: #A3A3A3;
}
.btn9{
    width: 29px;
    height: 29px;
    background:none;
    color: #A3A3A3;
    border: 1px solid #A3A3A3;
    border-radius: 30px;
}
.btn10{
    width: 29px;
    height: 29px;
    background:none;
    color: #A3A3A3;
    border: 1px solid #A3A3A3;
    border-radius: 30px;
}

.btn9:hover{
    border: none;
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    color: white;
}
.btn10:hover{
    border: none;
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    color: white;
}
.btn-9{
    width: 250px;
    height: 48px;
    background: linear-gradient(261.69deg, #FF5924 12.12%, #FFA229 86.72%);
    border: none;
    color: white;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 20px;
}
.ota2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.hero-bcg{
    background-image: url(img/Rectangle\ 13.png);
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 20px;
    margin-top: 100px;
}
.hero-bcg h1{
    text-align: center;
    padding-top: 130px;
    color: white;
}

.hero-orqa{
    background-image: url(img/Rectangle\ 10\ \(1\).png);
    background-repeat: no-repeat;
    height: 220px;
    width: 350px;
    border-radius: 20px;
}

.hero-orqa h2{
    color: white;
    padding-top: 70px;
    padding-left: 50px;
    font-size: 30px;
}
.hero-orqa1{
    background-image: url(img/Rectangle\ 11\ \(1\).png);
    background-repeat: no-repeat;
    height: 220px;
    width: 370px;
    border-radius: 20px;
}

.hero-orqa1 h2{
    color: white;
    padding-top: 70px;
    padding-left: 50px;
    font-size: 30px;
}
.hero-orqa2{
    background-image: url(img/alex-haney-CAhjZmVk5H4-unsplash\ 1\ \(1\).png);
    background-repeat: no-repeat;
    height: 220px;
    width: 630px;
    border-radius: 30px;
}

.hero-orqa2 h2{
    color: white;
    padding-top: 70px;
    padding-left: 50px;
    font-size: 30px;
}
.hero-orqa3{
    background-image: url(img/Rectangle\ 9\ \(1\).png);
    background-repeat: no-repeat;
    height: 220px;
    width: 630px;
    border-radius: 30px;
}

.hero-orqa3 h2{
    color: white;
    padding-top: 70px;
    padding-left: 50px;
    font-size: 30px;
}
.hero-orqa4{
    background-image: url(img/Rectangle\ 10\ \(2\).png);
    background-repeat: no-repeat;
    height: 220px;
    width: 370px;
    border-radius: 30px;
}

.hero-orqa4 h2{
    color: white;
    padding-top: 70px;
    padding-left: 50px;
    font-size: 30px;
}
.hero-orqa5{
    background-image: url(img/Rectangle\ 11\ \(2\).png);
    background-repeat: no-repeat;
    height: 220px;
    width: 370px;
    border-radius: 30px;
}

.hero-orqa5 h2{
    color: white;
    padding-top: 70px;
    padding-left: 50px;
    font-size: 30px;
}
.hero-orqa6{
    background-image: url(img/Rectangle\ 12\ \(1\).png);
    background-repeat: no-repeat;
    height: 220px;
    width: 370px;
    border-radius: 30px;
}

.hero-orqa6 h2{
    color: white;
    padding-top: 30px;
    padding-left: 50px;
    font-size: 30px;
}
.btn11{
    width: 180px;
    height: 40px;
    background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
    color: white;
    border: none;
    border-radius: 30px;
    margin-left: 40px;
    margin-top: 30px;
}
.ota-rasm{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}
.ota-rasm1{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.ota-rasm2{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}


.hero-yozuv2 h1{
   color: white;
   font-size: 70px;
}
.hero-yozuv2 .p2{
    color: #A3A3A3;
    padding-top: 30px;
}
.hero-yozuv2 .p3{
    color: #A3A3A3;
    padding-top: 30px;
}
.ota-3{
    padding-top: 100px;
    display: flex;
    gap: 100px;
}
.pizza-3d{
    width: 500px;
    height: 500px;
    border: 2px solid #A3A3A3;
    border-radius: 20px;
    box-shadow: -15px 21px 68px 0px #6719003B;
   
}
.ota-rasm-2{
    position: relative;
}
.pitsa-tepa{
    position: absolute;
    top: -120px;
    left: 300px;
}
.frie-past{
    position: absolute;
    top: 300px;
    left: -150px;
}
.ota-text{
    display: flex;
    align-items: center;
    gap: 100px;
}
.head-foot{
    padding: 50px 0;
    margin-top: 100px;
    background: linear-gradient(245.71deg, #170A00 4.96%, #170600 33.7%, #0F0700 68.41%, #170A00 96.42%);
}
.ota-text h3{
    color: #A3A3A3;
}

.ota-text p{
    color:#515151 ;
    padding-top: 10px;
}
.ota-nomer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.ota-nomer h2{
    color: #FF5924;
}
.hero-i3{
    color: #FF5924;

}
.hero-i3 i{
    font-size: 25px;
}



@media(max-width:520px){
    nav{
        display: none;
    }
    header{
        padding-left: 40px;
    }
    .ota{
        flex-direction: column-reverse;
    }
    .ota-img .katta-rasm{
        width: 70%;
        margin-left: 70px;
        margin-top: 100px;
    }
    .ota-img .tepa-pitsa{
        width: 40%;
        left: 270px;
        top: 40px;
    }
    .ota-img .pastki-fri{
        width: 40%;
        top: 450px;
        left: 10px;
    }
    .hero1{
        text-align: center;
    }
    .hero1 h1{
        font-size: 35px;
    }
    .hero1 p{
        font-size: 17px;
    }
    .ota2{
        flex-direction: column;
    }
    .ota-rasm{
        flex-direction: column;
    }
    .ota-rasm1{
        flex-direction: column;
    }
    .hero-orqa2{
        width: 500px;
    }
    .hero-orqa3{
        width: 500px;
    }
    .ota-rasm2{
        flex-direction: column;
    }
    .ota-3{
        flex-direction: column-reverse;
    }
    .hero-yozuv2{
        text-align: center;
    }
    .pizza-3d{
        width: 60%;
        height: 300px;
        margin-left: 100px;
    }
    .pitsa-tepa{
        width: 40%;
    }
    .frie-past{
        width: 40%;
        left: 10px;
        top: 170px;
    }
    .ota-text{
        flex-direction: column;
        text-align: center;
    }
    .ota-nomer{
        flex-direction: column;
        gap: 30px;
    }
}